<!-- <template id="todo-item-template">
  <li class="todo panel">
    <input class="todo__checkbox" type="checkbox" aria-label="Erledige Aufgabe mit Titel {xxx}">
    <div class="todo__title"></div>
    <p class="todo__description"></p>
    <div class="todo__date"></div>
    <div class="todo__actions">
      <button class="button button--small" type="button" aria-label="Editiere Aufgabe mit Titel {xxx}">✎</button>
      <button class="button button--small button--danger" type="button" aria-label="Entferne Aufgabe mit Titel {xxx}">⨉
      </button>
    </div>
  </li>
</template> -->

<header class="header">
  <h1>Aufgabenliste</h1>
</header>

<main class="main">
  <section class="todos">
    @if (getOpenTasks().length > 0) {
      <h2>Offene Aufgaben</h2>
      <div class="todo-list">
        @for (task of getOpenTasks(); track task) {
        <app-task-item [taskItem]="task"></app-task-item>
        }
      </div>
    }
    @if (getClosedTasks().length > 0) {
      <h2>Erledigte Aufgaben</h2>
      <div class="todo-list">
        @for (task of getClosedTasks(); track task) {
        <app-task-item [taskItem]="task"></app-task-item>
        }
      </div>
    }
  </section>

  <section class="todo-form">
    <h2 id="todo-form--headline">Aufgabe hinzufügen</h2>
    <app-task-item-form></app-task-item-form>
  </section>
</main>
