.form-control {
  padding: 1rem 0;
}

.form-label {
  display: block;
  margin-bottom: .25rem;
}

.form-error-text {
  color: var(--error-color);
  font-size: .9rem;
  margin-top: .5rem;
}

.form-control--error {

  --input-border-color: var(--error-color);
  .form-label {
    color: var(--error-color);
  }

}
